/* ===============================================
=== GLOBAL RESETS ===*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}

/* ===============================================
=== TYPOGRAPHY  ===*/

a {
    text-decoration: none;
}
header, h1 h3 hr a p {
    color: white;
    margin: 0;
    /*    padding: 18px;*/
    text-align: center;
    text-shadow: 1px 1px 5px black;
    text-transform: uppercase;
    line-height: 75px;
}
header, h1 {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
header, h3 {
    font-size: 1.1em;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

/* ===============================================
=== BACKGROUND STYLING / CENTER CONTENT ===*/

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
.background {
    background-repeat: no-repeat;
    /* custom background-position */
    background-position: 50% 50%;
    /* ie8- graceful degradation */
    background-position: 50% 50%\9 !important;
}
.fullscreen, .content-a {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fullscreen.overflow, .fullscreen.overflow .content-a {
    height: auto;
    min-height: 100%;
}
.not-fullscreen {
    height: 60%;
}

/* content centering styles */

.content-a {
    display: table;
}
.content-b {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
}
#form{
      text-align: left;
}
input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}
input:focus, textarea:focus {
    border: 3px solid #555;
    outline:none;
}
/* visual styles */

body {
    margin: 0;
    font-size: 28px;
    line-height: 75px;
    color: #ffffff;
    text-align: center;
}
header, .contact {
    background: linear-gradient( rgb(3, 120, 146), rgb(0, 206, 209));
}
.contact{
  background: white;
  )
}
header hr {
    margin: 0 25%;
}
accordion-header:hover{
  background-color: white;
}

.wrapper {
  text-align:center;
  margin:0 auto;
}
figure {
  display: inline-block;
  border:1px solid grey;
  position: relative;
  overflow:hidden;
  width:300px;
}
figure:hover:before {
  content: '';
  background: rgba(75, 225, 219, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* ===============================================
=== HEADER STYLING ===*/


/* ===============================================
=== ACCORDION  STYLING ===*/

.accordion-container {
    width: 100%;
}
.accordion {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.border-top {
    border-top: 1px solid rgba(84, 86, 48, 0.21);
}
.accordion-header, footer {
    display: block;
    padding: 2px 10px;
    text-align: left;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    background: rgba(189, 218, 211, 0.14);
    color: black;
    border-bottom: 1px solid rgba(84, 86, 48, 0.21);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
    outline: none;
}
.about-nav {
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 99999;
    background: #fff;
}
.ui-accordion-header-active {
    border-bottom: none;
    background: #fff;
    /*    display: inline-block;*/
}
.ui-state-hover {
    background: #fff;
}
.accordion-content {
    border-bottom: 1px solid rgba(84, 86, 48, 0.21);
    height: 50%;
   overflow-x: hidden;
    text-align: justify;
    color: black;
}
.slide {
    margin: 20px 0px 20px 20px;
    background-color: burlywood;
}


/* ===============================================
=== ACCORDION CONTENT STYLING===*/

.text-left {
  margin: 10px 0px 10px 30px;
  padding: 10px;
  font-size: 18px;
  line-height: 100%;
  text-align: left;
  /* float: left; */
  width: 35%;
  display: inline-block;
  text-align: justify;
}
.text-right {
      margin: 10px 25px 10px 10px;
      width: 55%;
      /* background-color: red; */
      text-align: left;
      display: inline-block;
      line-height: 100%;
      font-size: 18px;
      float: right;
      padding: 10px;
}
.image-contain{
  height: 275px;
width: 490px;
}
figure {
    max-width: 300px;
    max-width: min-content;
    margin: auto;
    background: blue;
}
figure> img {
    max-width: inherit;
    object-fit: scale-down;
    ;
}

h4 {
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: darkcyan !important;
}
label {
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: darkcyan;
}



/* ===============================================
=== CONTACT STYLING ===*/

.contact {
    text-align: left;
}

/* ===============================================
=== FOOTER STYLING ===*/

footer {
    /*    padding-top: 10px;
    height: 50px;
    width: 100%;*/
    background: linear-gradient( rgba(1, 77, 107, 0.18), rgba(206, 76, 0, 0.10)), rgba(0, 0, 0, 0.8);
    font-size: .5em;
    color: white;
    line-height: 50px;
    text-align: right;
    text-transform: uppercase;
}

/* ===============================================
=== BUTTON  STYLING ===*/

.btn {
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    letter-spacing: 2.7px;
    background: linear-gradient( rgba(1, 77, 107, 0.18), rgba(206, 76, 0, 0.10)), rgba(0, 0, 0, 0.8);
    padding: 5px 20px 5px 20px;
    position: relative;
    bottom: -150px;
}
