.uk-navbar {
    z-index: 1;
    -webkit-box-shadow: 0 8px 8px -7px #777;
    -moz-box-shadow: 0 8px 8px -7px #777;
    box-shadow: 0 8px 8px -7px #777;
}
.uk-navbar-brand {
    padding-top: 5px;
}
.nav-choice:hover, .nav-choice:active {
    -moz-box-shadow: inset 0 0 10px #eaeced;
    -webkit-box-shadow: inset 0 0 10px #eaeced;
    box-shadow: inset 0 0 10px #eaeced;
}
.contact-button {
    color: #fff;
    background-color: #e05974;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #6d3144;
}
.contact-button:hover {
    background-color: #e05974;
}
.contact-button:active {
    background-color: #e05974;
    box-shadow: 0 2px #6d3144;
    transform: translateY(5px);
}
.welcome-container {
    background-image: url(../../images/desk.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0 0px;
}
/*  ======= LANDING ======= */
.welcome{
top: 35%;
}
.container{
  /*margin-left: 5vw;
  margin-right: 5vw;*/
}
.pinkify {
  color: #e05974;
}
.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 40px;
}

.arrows path {
	stroke: #fff;
	fill: transparent;
	stroke-width: 5px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
/*  ============== ABOUT ============== */
.about-container{
  background-image: url(../../images/sky2.jpeg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 0 0px;
}
.about{
  top:60%
}

/*  ============== PORTFOLIO ============== */
.portfolio-container{
  background-image: url(../../images/typewriter.jpeg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 0 0px;
}
.portfolio{
  top:35%;
}
