input, textarea {
  max-width:100%;
}

.uk-navbar {
    z-index: 1;
    -webkit-box-shadow: 0 8px 8px -7px #777;
    -moz-box-shadow: 0 8px 8px -7px #777;
    box-shadow: 0 8px 8px -7px #777;
}
.uk-navbar-brand {
    padding-top: 5px;
}
.nav-choice:hover, .nav-choice:active {
    -moz-box-shadow: inset 0 0 10px #eaeced;
    -webkit-box-shadow: inset 0 0 10px #eaeced;
    box-shadow: inset 0 0 10px #eaeced;
}
.menu{
  vertical-align: middle !important;
      margin: 25px;
      background: white;
      font-size: 1.3rem;
}
/*.contact-button {
    color: #fff;
    background-color: #e05974;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #6d3144;
}*/
.contact-button:hover {
    background-color: #e5879a;
}
.contact-button:active {
    background-color: #00a8e6;
    /*box-shadow: 0 2px #6d3144;
    transform: translateY(5px);*/
}
.welcome-container {
    background-image: url(../../images/desk.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0 0px;
    text-align: center;
}
/*  ======= LANDING ======= */
.welcome{
top: 32%;
}
.container{
  /*margin-left: 5vw;
  margin-right: 5vw;*/
}
.pinkify {
  color: #e23d5e;
}
.blacken {
  color: black;
  display: inline-block;
}
.typewrite{
  display: inline-block;
}
.submitToMe{
  text-transform: uppercase;
  outline:none;
}

.arrows {
	width: 60px;
	height: 90px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 60px;
}

.arrows path {
	stroke: #f10d62;
	fill: transparent;
	stroke-width: 10px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
/*  ============== ABOUT ============== */
.about-container{
  /*background-image: url(../../images/sky2.jpeg);
  background-size:cover;*/
  /*background-color: white;*/
  background-repeat: no-repeat;
  background-position: 0 0px;
  /*margin: 10vw 10vw;*/
  color: #5f5f6b;
}
.about{
}
.unicorn{
  /*margin: 5vw 3vw 5vw 3vw;*/
  /*justify-content: center;
  align-content: center;*/
}

/*  ============== PORTFOLIO ============== */
.portfolio-container{
  background-image: url(../../images/typewriter.jpeg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 0 0px;
}
.portfolio {
  top:30%;
}
/*  ============== CONTACT ============== */
.contactText{
  padding-right: 10px;
}
label{
  text-transform: uppercase;
}

.vr{
    width:1px;
    background-color:#b4c3c0;
    top:0;
    bottom:0;
    left:170px;
    margin: 10px 50px;
}
