<!DOCTYPE html>
<html ng-app="dhApp">

<head>
    <meta charset="utf-8">
    <title>Dominique Horner</title>
    <meta name="description" content="Dominique Horner is a web developer based in Colorado with strengths in web development and marketing." />
    <meta name="keywords" content="Colorado, Boulder, Denver, New York, London, freelancer, developer, software, marketing, digitial, websites" />

    <!--  =============================
  === SCRIPTS === -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.0/angular-scroll.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="./js/background.js"></script>

    <!--  =============================
  === STYLING LINKS=== -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css' />
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,500,700" rel="stylesheet" type="text/css">
</head>

<!--  ============================================
=== END OF HEAD ==================================
==================================================

///////////          /////      ///////
/        ///           /          ///
/         ////         /          ///
/          ////        /          ///
/           ////       //////////////
/           ///        /          ///
/          ////        /          ///
/         ///          /          ///
//////////           /////     ////////

===================================================
=== START OF BODY ===  -->

<body ng-controller="MainDHController">

    <!-- ==========================================
  === START OF HEADER ===  -->
    <header class="fullscreen">
        <div class="content-a">
            <div class="content-b">
                <p>
                    <h1>Dominique Horner</h1>
                    <hr />
                    <h3>Full-Stack Developer</h3>
                </p>
                <a type="button" class="btn" data scroll href="#accordion">LEARN MORE</a>
            </div>
    </header>

    <!-- ================================================
  === END OF HEADER / START OF JQUERY PORTFOLIO ===  -->
    <div class="accordion-container">

        <!--  ===== CONTACT  STARTS HERE  ===== -->
        <h3 class="accordion-header" id="contact"> CONTACT </h3>
        <div class="accordion-content contact">
            <div class="text-left wrapper">
                <figure>
                    <img src="./images/dom.jpg" />
                </figure>
            </div>
            <div class=" text-right">
                <form method="post" ng-submit="sendMessage(name,email,message)" id="form">
                    <div class="name" id="contact-content">
                        <label for="name" class="required">Name:</label>
                        <input type="text" placeholder="Enter your name" name="name" id="name" required title="Please enter your name" ng-model="name" />
                    </div>
                    <div class="email">
                        <label for="email" class="required">Email:</label>
                        <input type="email" placeholder="you@example.com" name="email" id="email" required ng-model="email" />
                    </div>
                    <div class="message">
                        <label for="bio">Message or Inquiry:</label>
                        <textarea name="message" id="message" rows="5" cols="30" ng-model="message"></textarea>
                        <div class="submit">
                            <input type="submit" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

<!-- ========================================
=== END OF CONTACT / START OF FOOTER  === -->

    <footer>
        <p>
            Copyright © Dominique Horner 2016-2017. All rights reserved
        </p>
    </footer>

    <!-- ======== END OF FOOTER / START OF END SCRIPTS ===  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

    <!-- SCRIPT FOR ACCORDION TO BE PUT IN SEPERATE JS FILE -->
    <script>
        $(function() {
            $("#accordion").accordion({
                collapsible: true
            });
            $("#accordion").accordion("#contact", "collapsible", false);
        });
    </script>

    <!-- =======================================
=== END OF SCRIPTS & BODY === -->

</body>

</html>
